COMPOSE_PROJECT_NAME=fqnovel
TZ=Asia/Shanghai

SERVER_PORT=9999
FQ_API_BASE_URL=https://api5-normal-sinfonlineb.fqnovel.com

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=sssdragon
POSTGRES_PORT=15432

DEVICE_POOL_SIZE=8
DEVICE_POOL_SHUFFLE_ON_STARTUP=true
DEVICE_POOL_PROBE_ON_STARTUP=true
DEVICE_POOL_PROBE_MAX_ATTEMPTS=3
DEVICE_ROTATE_COOLDOWN_MS=60000
DEVICE_POOL_ALLOW_EMPTY=true
DEVICE_POOL_RISK_COOLDOWN_MS=43200000